body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 1000px;
}

@media (min-width: 1300) {
    .header-container {
        max-width: 1500px !important;
    }
}
.app-container {
    .header-container {
        background-color: stranparent;
        // opacity: 0.5;
        z-index: 1000;
        .btn-login {
            border-radius: 5px;
            margin-right: 15px;
            padding: 0 15px;
            border: 1px solid #535353;
            height: 40px;
        }
        .btn-signup {
            border-radius: 5px;
            padding: 0 15px;
            background-color: #303030;
            color: white;
            &:hover {
                background-color: black;
            }
            height: 40px;
        }

        .nav-link {
            &.active {
                color: #0ab6e5;
            }
        }
    }
    .homepage-content {
        padding: 100px;

        width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
        // -ms-flex-align: baseline;
        .title-1 {
            font-size: 35px;
            font-weight: 700;
        }
        .title-2 {
            font-size: 22px;
            // font-weight: 700;
        }
        .title-3 {
            button {
                border-radius: 5px;
                padding: 0 15px;
                background-color: #303030;
                color: white;
                &:hover {
                    background-color: black;
                }
                height: 40px;
            }
        }
    }
}

video {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
